<!DOCTYPE html>
<html>
  <head>
    <link href="/static/css/style.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  </head>
  <body>
    <form method = "POST">
      <input type="text" placeholder="Input Start Song" name="startSong"/>
      <input type="text" placeholder="Input End Song" name="endSong"/>
      <button id="generatePlaylist" type = "submit">Create Playlist</button>
    </form>
    <button id="savePlaylist">Save Playlist to Spotify</button>
  </body>
</html>
